<!DOCTYPE html>
<html >
    <head>
        <title>CQ</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <link href="sidebar.css" rel="stylesheet" type = "text/css">
        <link href="header.css" rel="stylesheet" type = "text/css">
        <link href = "btnEditprofile.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <!-- BOOTSTRAP 3-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    </head>

    <body class="body">
        <% include partials/header.ejs %>
        <div id="viewscreen" >

            <% include partials/sidebar.ejs %>
            <div id="rightview">
                <div class="container-fluid div-min-width" style="padding:0">
                    <div class="row">
                        <div class="col-lg-12 parentDiv" style="padding:0">
                            <!-- MOBILE IMAGE DIV-->
                            <div id="mobile-pic-editpage" style="margin-bottom:80px;">
                                <img src="default.png" id="blueimg">
                            </div>
                            <!-- NORMAL DIVS BEGIN-->
                            <div class="to-center-div">

                                <div class="container childDiv">

                                    <div class="panel panel-default" style="background: rgb(249, 249, 249);box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);">
                                        <div class="panel-body">

                                            <div class="d-flex imageDiv">
                                                <div class="image-container">
                                                    <img src="default.png" id="profilepic">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a  class="btn btn-primary pull-right" onclick="gotoupdatepage()" style="margin-right:15px;">Edit</a>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-sm-6">
                                                <div class="panel panel-default panelDiv">
                                                    <div class="panel-heading">Email</div>
                                                    <div class="panel-body"><%= obj.email %></div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Gender</div>
                                                    <div class="panel-body"><%= obj.gender %></div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Name</div>
                                                    <div class="panel-body"><%= obj.name %></div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">City</div>
                                                    <div class="panel-body"><%= obj.city %></div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">D.O.B</div>
                                                    <div class="panel-body"><%= obj.dob %></div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Phone</div>
                                                    <div class="panel-body"><%= obj.phone %></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>

    </body>
    <script src="openpanel.js">
    </script>
    <script src="switchbtnedit.js">
    </script>
</html>
